<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Delete User Page</h1>

    <form action="/todo/deleteuserbyadmin" method="post">
        <div>
            <textarea id="user" name="user" rows="1" cols="40"
                placeholder="Enter User ID you want to Delete"></textarea> <br>
        </div>
        <br>
        <input type="submit" value="Submit">

    </form>
    <br>
    <a href="/todo/deletealluserbyadmin">Want to Delete all the Users? </a>
</body>

</html>