<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3> Sign Up Page </h3>

    <form action="/todo/signup" method="post">


        <div>
            <input type="text" id="name" name="name" placeholder="Name" required>

        </div><br>
        <div>
            <input type="email" id="email" name="email" placeholder="Email" required>

        </div><br>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required>

        </div><br>
        <div>
            <input type="password" id="password1" name="password1" placeholder="Conform Password" required>

        </div> <br>
        </textarea>
        </div>


        <input type="submit" value="Sign Up">

    </form><br>
    <a href="/todo/login">Already Have a Account?</a>
</body>

</html>